---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
// CSS will be compiled in the following order. The order SASS files are compiled is important for inheritance.
// ------------------------------------------------------------------------------------------------------

@import "variables";
// ----- Variables is where reusable attributes are declared, such as colours and font cascades.
// Widths
// Colours
// Padding and radius
// Typography
// Mixins

@import "typography";
// ----- Typography handles basic type properties such as colours and sizing
// Hyperlinks
// Font styling
// Headings
// Tables
// Confirmation layout
// Responsive font sizing

@import "developers";
// ----- Developers use for additions or overrides. UI team then refactor this into appropriate SASS file

